.sidenav .user-view .background-image {
	margin-top: -32px;
	width: 250px;
}

.sidenav .user-view .text-frame {
	position: absolute;
	font-size: 40pt;
	bottom: 45px;
	left: 8px;
}

.sidenav .user-view p {
	line-height: 30px;
	margin: 0px;
}

.sidenav .user-view #name-text {
	font-size: 20pt;
}

.sidenav .user-view #description-text {
	font-size: 15pt;
}

.social-icon {
	margin-right: 5px;
}

.stat-header {
	font-weight: bold;
}

.nav-wrapper img {
	width: 50px;
	height: 50px;
}