.sidenav .user-view .background-image {
	margin-top: -32px;
	width: 250px;
}

.sidenav .user-view .text-frame {
	position: absolute;
	font-size: 40pt;
	bottom: 45px;
	left: 8px;
}

.sidenav .user-view p {
	line-height: 30px;
	margin: 0px;
}

.sidenav .user-view #name-text {
	font-size: 20pt;
}

.sidenav .user-view #description-text {
	font-size: 15pt;
}

.social-icon {
	margin-right: 5px;
}

.stat-header {
	font-weight: bold;
}

.nav-wrapper img {
	width: 50px;
	height: 50px;
}

/* Bring back the default list styling in posts, which is normally overridden by Materialize CSS */
article.post ul{
	padding-left: 40px;
}

article.post ul li{
	list-style-type: disc;
}

/*	A big thanks to user mmla on stackoverflow for this Flexbox trick:
		https://stackoverflow.com/questions/44846068/css-equal-height-columns */
.flex {
	display: flex;
	flex-wrap: wrap;
}

/*	Fix padding and margin to the left of the post date */
.row .col.post-date {
	margin-left: 0;
}

/* Fixes inability to align in collapsible-headers. See: https://github.com/Dogfalo/materialize/issues/5133*/
.collapsible-header {
	display: block;
}

/*	Icon rotation trick courtesy of: https://stackoverflow.com/questions/34472456/materializecss-collapsible-active-change-icon */
.collapsible li.active i.collapsible-indicator {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

/* Removes padding below header in work-sample cards */
.card-sample-header {
	margin-bottom: 0px;
}
