<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/style-test.css">
	</head>
	
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>

		<div class="container">
			{{ content }}
		</div><!-- /.container -->

		<footer>
			<ul>
				<li><a href="mailto:vincent@vingenuity.net">e-mail</a></li>
				<li><a href="https://github.com/vingenuity">GitHub</a></li>
			</ul>
		</footer>
	</body>
</html>